.checkout__box {
  overflow: visible;
  margin-bottom: 20%;
}
.checkout__box h1 {
  text-align: center;
}
.confirmation__Checkout__box p {
  text-decoration: underline;
}
.confirmation__Checkout__box {
  margin-top: 15%;
}
