.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #703b09;
  padding: 10px 20px;
  box-sizing: border-box;
  z-index: 90;
}

.header_left {
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
}
.header_left img {
  width: 50px;
}

.header_list ul {
  display: flex;
  list-style: none;
  flex: 1;
}

.header_list ul li {
  padding: 10px;
}

.header_list ul li a {
  text-decoration: none;
  color: #fff;
}

.header_list ul li:hover {
  background-color: #8f5c2c;
  text-decoration: underline;
  transition: 1s;
}

.topnav .icon {
  display: none;
}
.topnav .mobile_navbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .responsive {
    position: relative;
  }
  .topnav .item {
    display: none;
  }
  .topnav .icon {
    color: #fff;
    display: block;
    font-size: 25px;
    z-index: 2000;
  }
  .header_list ul {
    padding: 70px 10px;
  }

  .topnav .mobile_navbar {
    display: block;
    background-color: white;
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: -15px;
    z-index: 200;
  }
  .topnav .mobile_item a {
    display: block;
    color: black;
  }
  .topnav .mobile_navbar .mobile_item img {
    width: 50px;
  }
}

@media screen and (max-width: 300px) {
  .topnav .mobile_navbar {
    width: 530%;
  }
}
